/* Estilo do corpo */
main {
  background-color: var(--gray-200);
  background-size: cover;
  display: flex;
  padding: 72px 120px 144px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  align-self: stretch;
  font: var(--title-sm-asap);
  color: var(--gray-600);
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 16px; 
  padding: 16px;
  padding-bottom: 120px; 
}


.background {
  width: 330px; 
  height: 280px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  background: var(--Base-gray-300, #292C34);
}

.background img {
  max-width: 100%; 
  border-radius: 12%;
}


.p-main {
 font: var(--title-sm-asap);
 font-family: "Maven Pro";
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 140%; 
color: var(--gray-400);
}